<div class='border border-2 border-dark text-center'>
    <h1>{{name}}</h1>
</div>

<div class="header-filler bg-primary text-white text-center p-1">
    <h3>{{title}}</h3>
</div>

<main>
<div class="contact-info text-center ">
    <p><span class="mx-3">{{phone}}</span><span class="mx-3">{{email}}</span></p>
    <p><span class="mx-3">{{linkedin}}</span><span class="mx-3">{{portfolio}}</span></p>
</div>


<section class="row">
    <div class="col-7 ">
        <h4 class="text-white border-bottom border-1 border-dark"><span class="section-title bg-primary px-1">Skills</span></h4>
        <ul>
            {{#each skills as |skill|}}
                <li>{{skill.name}}</li>
            {{/each}}
        </ul>
    </div>

    {{#each education as |school|}}
    <div class="col-5 border-start border-1 border-dark">
        <h4 class="text-white border-bottom border-1 border-dark"><span class="section-title bg-primary px-1">Education</span></h4>
        <p><span class="work-title">{{school.name}}</span><br>{{school.start_date}} - {{#if school.end_date}} {{school.end_date}} {{else}} present {{/if}}<br>{{school.degree}}</p>
    </div>
    {{/each}}

</section>

<section class="row">
    <div class="col-12">
        <h4 class="text-white border-bottom border-1 border-dark"><span class="section-title bg-primary px-1">Professional Experience</span></h4>
        
        {{#each experiences as |job|}}
        <div class="row">
            <div class="col-4">{{job.start_date}} - {{#if job.end_date}} {{job.end_date}} {{else}} present {{/if}}</div>
            <div class="col-8 border-start border-1 border-dark">
                <span class="work-title">{{job.title}}</span> | {{job.company}}
                <p>{{job.description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<section class="row">
    <div class="col-12">
        <h4 class="text-white border-bottom border-1 border-dark"><span class="section-title bg-primary px-1">References</span></h4>
        <ul>
            {{#each references as |reference|}}
                <li><span class="work-title">{{reference.name}}</span> <span class="mx-3">|</span> {{reference.email}} <span class="mx-3">|</span> {{reference.phone}}</li>
            {{/each}}
        </ul>
    </div>
</section>

</main>

