<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4cfe228376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Resume Creator</title>

</head>
<body>
    <header>
    <div class="header">
        <header class="name">{{name}}</header>
    </div>

    <div id="jobTitle" class="job-title">
        <h4 class="job">{{title}}</h4>
    </div>
    </header>

    <div class="container">
        <div class="row">
        <div class="col-8 col-md-4 col-sm-3">
          <div class="col-12" id="leftside">
            <h5>Contact</h5>
            <ul class="contact-list">
                <li><i class="fa-solid fa-phone"></i> {{phone}}</li>
                <li><i class="fa-solid fa-envelope"></i> {{email}}</li>
                <li><i class="fa-solid fa-globe"><a class="link" href="{{linkedin}}"> LinkedIn</a></i></li>
                <li><i class="fa-sharp fa-solid fa-window"><a class="link" href="{{portfolio}}"> Portfolio</a></i></li>
            </ul>
            <h5>Eduction</h5>
            <ul>
            {{#each education as |school|}}
            <li class="school-name">{{school.name}}</li>
            <li class="date">{{school.start_date}} - {{school.end_date}}</li>
            <li class="degree">{{school.degree}}</li>
            {{/each}}
            </ul>
            <h5>Key Skills</h5>
            <ul>
                {{#each skills as |skill|}}
                <li>{{skill.name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

     <div class="col-12 col-md-8">
        {{#each experiences as |job|}}
        <div class="experience">
            <h5 class="user-experience">Experience</h5>
            <ul>
            <li class="date">{{job.start_date}} - {{#if job.end_date}} {{job.end_date}} {{else}} present {{/if}}</li>
            <li class="work-job">{{job.title}}</li>
            <li class="job-company">{{job.company}}</li>
            </ul>
            <p>{{job.description}}</p>
        </div>
        {{/each}}
    
        {{#each references as |reference|}}
        <div class="reference">
            <h5 class="job-reference">References</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident adipisci excepturi, aliquid vitae harum quisquam rerum esse similique deleniti repellendus consequatur autem! Nemo et, molestias eaque velit hic accusantium harum?</p>
        {{/each}}
        </div>
    </div>
</div>



</body>
</html>