<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Resume</title> 
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="css/tg-style.css">

</head>

<body class="container-fluid">
 
    <header class='text-left secondary'>
      <div class="text-bg-secondary p-3 fs-1">{{name}}<br>{{title}}</div>
      </header>

   <div class="contact-info">
  <span class=""> Email:</span>
  <span class="email-val">{{email}}</span>
  <span class="separator"></span> |
  <span class="phone">Phone: </span> 
  <span class="phone-val">{{phone}}</span>
  <span class="separator"></span> |
  <span class="contact">{{linkedin}}</span> |
  <span class="contact">{{portfolio}}</span></p>
  </div>

  <header class='text-left secondary'>
    <div class="text-bg-secondary p-3 fs-4">Skills</div>
    </header>

     <div class="">
      <ul>
            <ul>
            {{#each skills as |skill|}}
                <li>{{skill.name}}</li>
            {{/each}}
        </ul>
    </div>
  </div>


 {{#each experiences as |job|}}
  <header class='text-left secondary'>
        <div class="text-bg-secondary p-3 fs-4">Work Experience</div>
    </header>        
        <div class="row">
            <div class="col-5 text-black">{{job.start_date}} - {{#if job.end_date}} {{job.end_date}} {{else}} present {{/if}}</div>
            <div class="col-7 text-black">
                <span class="work-title">{{job.title}}</span> | {{job.company}}
                <p>{{job.description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>
     
<section>
   {{#each education as |school|}}
<header class='text-left secondary'>
  <div class="text-bg-secondary p-3 fs-4">Education</div>
  </header>
  
  <p><span class="work-title">{{school.name}}</span><br>{{school.start_date}} - {{#if school.end_date}} {{else}} present {{/if}}<br>{{school.degree}}</p>
  </div>
  {{/each}}
</section>

<section>
  <header class='text-left secondary'>
    <div class="text-bg-secondary p-3 fs-4">Reference</div>
    </header>
    <ul>
    {{#each references as |reference|}}
                <li><span class="work-title">{{reference.name}}</span> <span class="mx-3">|</span> {{reference.email}} <span class="mx-3">|</span> {{reference.phone}}</li>
            {{/each}}
  </ul>
    </div>
  </section>
</body>
</html>
